<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KE2H0X9N4T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-KE2H0X9N4T');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://stootsou.net/act/files/tag.min.js?z=8666135" data-cfasync="false" async></script>
</head>

<body class="bg-gray-800 text-white font-sans min-h-screen flex items-center justify-center">

    <div class="text-center">
        <h1 class="text-5xl font-bold text-blue-500 mb-4">Coming Soon</h1>
        <div class="mt-8">
            <a href="/average" class="text-blue-400 underline hover:text-blue-300 transition duration-200">
                Back to Home
            </a>
        </div>
    </div>

</body>
</html>
